.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto !important;
}

.d-block {
    display: block;
}

.text-white {
    color: #fff;
}

.filters-block {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}
